body {
    margin: 0;
}

.logo {
    width: 70px;
    height: 70px;
    border: 1px solid #000;
    border-radius: 100%;
    background-color: #ccc;
}

/* Menu */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 30px;
    background-color: #a7a7a7;
}
.nav-menu {
    display: flex;
    gap: 25px;
    font-size: 18px;
    font-weight: 900;
    list-style: none;
}
.nav-menu a {
    text-decoration: none;
    color: #000;
    
}

.nav-menu a:hover {
    color: #fff;
    border-bottom: 2px solid #1a1919;
    transition: .3s;
}


/* Cards */

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px;
    gap: 50px;
}
.card-item {
    display: flex;
    flex-direction: column;
    max-width: 250px;
}
.card-links {
    display: flex;
    gap: 20px;
}
.card-links a {
    text-decoration: none;
}


/* Breakpoint */

@media (max-width: 700px) {
   .navbar {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
   }
   .nav-menu {
    padding: 0;
   }
}